<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.github.liji32.sameboy.gb</string>
				<string>com.github.liji32.sameboy.gbc</string>
				<string>com.github.liji32.sameboy.isx</string>
				<string>public.gbrom</string>
			</array>
			<key>QLThumbnailMinimumDimension</key>
			<integer>64</integer>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.thumbnail</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).ThumbnailProvider</string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Game Boy Game</string>
			<key>UTTypeIconFile</key>
			<string>Cartridge</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.liji32.sameboy.gb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Game Boy Color Game</string>
			<key>UTTypeIconFile</key>
			<string>ColorCartridge</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.liji32.sameboy.gbc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gbc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Game Boy ISX File</string>
			<key>UTTypeIconFile</key>
			<string>ColorCartridge</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.liji32.sameboy.isx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>isx</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
