<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gb</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Cartridge64.png</string>
				<string>Cartridge.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Game Boy Game</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.github.liji32.sameboy.gb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gbc</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>ColorCartridge64.png</string>
				<string>ColorCartridge.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Game Boy Color Game</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.github.liji32.sameboy.gbc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>isx</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>ColorCartridge64.png</string>
				<string>ColorCartridge.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Game Boy ISX File</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.github.liji32.sameboy.isx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>zip</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sbp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SameBoy Palette</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.github.liji32.sameboy.sbp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Game Boy Game</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Cartridge64</string>
				<string>Cartridge</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.github.liji32.sameboy.gb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Game Boy Color Game</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>ColorCartridge64</string>
				<string>ColorCartridge</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.github.liji32.sameboy.gbc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gbc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Game Boy ISX File</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>ColorCartridge64</string>
				<string>ColorCartridge</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.github.liji32.sameboy.isx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>isx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SameBoy Cheats Database</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.liji32.sameboy.cheats</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cht</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SameBoy Palette</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.liji32.sameboy.sbp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sbp</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
